USE [master]
GO
/****** Object:  Database [QLCH]    Script Date: 14/12/2023 11:13:32 CH ******/
CREATE DATABASE [QLCH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCH]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 14/12/2023 11:13:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaMH] [varchar](50) NOT NULL,
	[Soluongban] [int] NOT NULL,
	[Dongia] [int] NOT NULL,
	[Tongtien] [int] NOT NULL,
	[SoHD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNHAPHANG]    Script Date: 14/12/2023 11:13:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAPHANG](
	[MaMH] [varchar](50) NOT NULL,
	[Soluongnhap] [int] NOT NULL,
	[Gianhap] [int] NOT NULL,
	[Tongtien] [int] NOT NULL,
	[SoPN] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CHITIETNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTRAHANG]    Script Date: 14/12/2023 11:13:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTRAHANG](
	[MaMH] [varchar](50) NOT NULL,
	[Soluongtra] [int] NOT NULL,
	[Gianhap] [int] NOT NULL,
	[Tongtientra] [int] NOT NULL,
	[SoPT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CHITIETTRAHANG] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 14/12/2023 11:13:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SoHD] [varchar](50) NOT NULL,
	[Ngayban] [date] NOT NULL,
	[HTTT] [nvarchar](50) NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
	[MaKH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 14/12/2023 11:13:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](50) NOT NULL,
	[TenKH] [nvarchar](250) NOT NULL,
	[DiachiKH] [nvarchar](250) NOT NULL,
	[SDTKH] [varchar](13) NOT NULL,
	[Ghichu] [nvarchar](250) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 14/12/2023 11:13:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MaMH] [varchar](50) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
	[Mau] [nvarchar](50) NOT NULL,
	[Size] [varchar](10) NOT NULL,
	[HSX] [nvarchar](50) NOT NULL,
	[Soluong] [int] NOT NULL,
	[Dongia] [int] NOT NULL,
 CONSTRAINT [PK_MATHANG] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 14/12/2023 11:13:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [varchar](50) NOT NULL,
	[TenNCC] [nvarchar](250) NOT NULL,
	[DiachiNCC] [nvarchar](250) NOT NULL,
	[SDTNCC] [varchar](13) NOT NULL,
	[Ghichu] [nvarchar](250) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 14/12/2023 11:13:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](50) NOT NULL,
	[TenNV] [nvarchar](250) NOT NULL,
	[Ngaysinh] [date] NOT NULL,
	[DiachiNV] [nvarchar](250) NOT NULL,
	[SDTNV] [varchar](13) NOT NULL,
	[Chucvu] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Taikhoan] [nvarchar](50) NOT NULL,
	[Matkhau] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 14/12/2023 11:13:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[SoPN] [varchar](50) NOT NULL,
	[Ngayban] [date] NOT NULL,
	[HTTT] [nvarchar](50) NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
	[MaNCC] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[SoPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAHANG]    Script Date: 14/12/2023 11:13:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAHANG](
	[SoPT] [varchar](50) NOT NULL,
	[Ngaytra] [date] NOT NULL,
	[HTTT] [nvarchar](50) NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
	[MaNCC] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TRAHANG] PRIMARY KEY CLUSTERED 
(
	[SoPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_CHITIETHOADON] FOREIGN KEY([SoHD])
REFERENCES [dbo].[HOADON] ([SoHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_CHITIETHOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_MATHANG] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MATHANG] ([MaMH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_MATHANG]
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPHANG_MATHANG] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MATHANG] ([MaMH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG] CHECK CONSTRAINT [FK_CHITIETNHAPHANG_MATHANG]
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPHANG_NHAPHANG] FOREIGN KEY([SoPN])
REFERENCES [dbo].[NHAPHANG] ([SoPN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG] CHECK CONSTRAINT [FK_CHITIETNHAPHANG_NHAPHANG]
GO
ALTER TABLE [dbo].[CHITIETTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTRAHANG_MATHANG] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MATHANG] ([MaMH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETTRAHANG] CHECK CONSTRAINT [FK_CHITIETTRAHANG_MATHANG]
GO
ALTER TABLE [dbo].[CHITIETTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTRAHANG_TRAHANG] FOREIGN KEY([SoPT])
REFERENCES [dbo].[TRAHANG] ([SoPT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETTRAHANG] CHECK CONSTRAINT [FK_CHITIETTRAHANG_TRAHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[TRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_TRAHANG_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRAHANG] CHECK CONSTRAINT [FK_TRAHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[TRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_TRAHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRAHANG] CHECK CONSTRAINT [FK_TRAHANG_NHANVIEN]
GO
USE [master]
GO
